<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <logger name="org.springframework.web" level="ERROR"/>
    <!--日志根目录-->
    <property name="LOG_HOME" value="/app/sinova/logs/wechat-work" />
    <!--活动步骤监控日志记录-->
    <property name="activeStep" value="/app/sinova/logs/monitor/bizactivity/wechat-work" />
    <!--第三方接口监控日志记录-->
    <property name="outsideAPI" value="/app/sinova/logs/monitor/bizactivity/wechat-work" />

    <!-- 按照每天生成应用日志文件 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/${WLS_NODE}/info.log</File>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名 -->
            <FileNamePattern>${LOG_HOME}/${WLS_NODE}/info.log-%d{yyyyMMdd}</FileNamePattern>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
            <pattern> %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} %L -%msg%n</pattern>
        </layout>
    </appender>

    <!--每日error日志-->
    <appender name="appErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/${WLS_NODE}/error.log</File>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/${WLS_NODE}/error-%d{yyyyMMdd}.log</fileNamePattern>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern> %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} %L -%msg%n</pattern>
        </layout>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE" />
        <appender-ref ref="appErrorLog" />
    </root>



    <!--活动步骤监控日志记录-->
    <appender name="activeStep" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${activeStep}/bizactivity.log</File>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${activeStep}/bizactivity+${WLS_NODE}+${ServiceIP}+%d{yyyyMMddHHmm}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>
    <logger name="activeStep" additivity="false" level="INFO">
        <appender-ref ref="activeStep"/>
    </logger>

    <!--第三方接口监控日志记录-->
    <appender name="outsideAPI" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${outsideAPI}/operaplatform.log</File>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${outsideAPI}/operaplatform+${WLS_NODE}+${ServiceIP}+%d{yyyyMMddHHmm}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>
    <logger name="outsideAPI" additivity="false" level="INFO">
        <appender-ref ref="outsideAPI"/>
    </logger>

    <logger name="redis.clients.jedis.Connection" level="ERROR"/>
</configuration>